@{
    ViewBag.Title = "Contacto";
}
<link href="../Content/My_Bootstrap/css/my_css/estilos.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/whatsapp.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/facebook.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social img-tw" src="../Content/My_Bootstrap/img/my_img/iconos/twitter.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/github.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/telegram.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social img-tw" src="../Content/My_Bootstrap/img/my_img/iconos/youtube.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/localizacion.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/mensaje.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social img-tw" src="../Content/My_Bootstrap/img/my_img/iconos/telefono.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>